<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <label>Email</label>

  <input
    type="email"
    formControlName="email"
    placeholder="Enter email"
  >

  <br><br>

  <label>Password</label>

  <input
    type="password"
    formControlName="password"
    placeholder="Enter password"
  >

  <br><br>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>

</form>

<p>{{ errorMessage }}</p>

<p>
  Don't have an account?
  <a routerLink="/register">Register</a>
</p>
